#u352,#u789
{
	border-color: #000000;
	background-color: #4D4D4D;
	position: relative;
}

#u794-4
{
	color: #FF9600;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u802
{
	border-color: #000000;
	background-color: #4C4C4C;
	position: relative;
}

#u803-6
{
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u803-2
{
	font-size: 22px;
	line-height: 26px;
}

#u803-4
{
	font-size: 10px;
	line-height: 12px;
}

#u822
{
	background-color: transparent;
	position: relative;
}

#u822:hover
{
	background-color: #D4842D;
}

#u822:active
{
	background-color: #6B6B6B;
}

#u834
{
	background-color: transparent;
	position: relative;
}

#u834:hover
{
	background-color: #D4842D;
}

#u834:active
{
	background-color: #6B6B6B;
}

#u836
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u834:hover #u836
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u834:active #u836
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u864
{
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u864:hover
{
	background-color: #FBB03B;
}

#u866
{
	position: relative;
	background: transparent url("../images/arrowmenuright.gif") no-repeat center center;
}

#u834.MuseMenuActive #u836,#u864:hover #u866
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u863
{
	background-color: #D4842D;
	position: relative;
}

#u886
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u886:hover
{
	background-color: #AAAAAA;
}

#u889
{
	position: relative;
	background: transparent url("../images/arrowmenuright.gif") no-repeat center center;
}

#u864.MuseMenuActive #u866,#u886:hover #u889
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u920
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u920:hover
{
	background-color: #AAAAAA;
}

#u888-4,#u922-4
{
	line-height: 13px;
	color: #FFFFFF;
	text-align: center;
	font-size: 11px;
	position: relative;
}

#u923
{
	position: relative;
	background: transparent url("../images/arrowmenuright.gif") no-repeat center center;
}

#u886.MuseMenuActive #u889,#u920:hover #u923
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1140
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u1140:hover
{
	background-color: #AAAAAA;
}

#u850
{
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u864.MuseMenuActive,#u850:hover
{
	background-color: #FBB03B;
}

#u853
{
	position: relative;
	background: transparent url("../images/arrowmenuright.gif") no-repeat center center;
}

#u920.MuseMenuActive #u923,#u850:hover #u853
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1177
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1177:hover
{
	background-color: #AAAAAA;
}

#u1180
{
	position: relative;
	background: transparent url("../images/arrowmenuright.gif") no-repeat center center;
}

#u850.MuseMenuActive #u853,#u1177:hover #u1180
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1177.MuseMenuActive #u1180
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1187
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1187:hover
{
	background-color: #AAAAAA;
}

#u886.MuseMenuActive,#u920.MuseMenuActive,#u1140.MuseMenuActive,#u1177.MuseMenuActive,#u1187.MuseMenuActive
{
	background-color: #666666;
}

#u1142-4,#u1179-4,#u1189-4
{
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	position: relative;
}

#u843
{
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u850.MuseMenuActive,#u843:hover
{
	background-color: #FBB03B;
}

#u857
{
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u843.MuseMenuActive,#u857:hover
{
	background-color: #FBB03B;
}

#u915
{
	border-color: #777777;
	background-color: #D4842D;
	position: relative;
}

#u857.MuseMenuActive,#u915:hover
{
	background-color: #FBB03B;
}

#u915.MuseMenuActive
{
	background-color: #FBB03B;
}

#u867-4,#u852-4,#u846-5,#u858-5,#u918-4
{
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u827
{
	background-color: transparent;
	position: relative;
}

#u827:hover
{
	background-color: #D4842D;
}

#u827:active
{
	background-color: #6B6B6B;
}

#u876
{
	background-color: transparent;
	position: relative;
}

#u876:hover
{
	background-color: #D4842D;
}

#u876:active
{
	background-color: #6B6B6B;
}

#u869
{
	background-color: transparent;
	position: relative;
}

#u869:hover
{
	background-color: #D4842D;
}

#u869:active
{
	background-color: #6B6B6B;
}

#u822.MuseMenuActive,#u834.MuseMenuActive,#u827.MuseMenuActive,#u876.MuseMenuActive,#u869.MuseMenuActive
{
	background-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u795
{
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/beautiful-girl-with-horse-wallpaper.jpg") no-repeat right center;
	background-size: cover !important;
}

#u797-6
{
	line-height: 44px;
	color: #FFFFFF;
	font-size: 37px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u882
{
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
}

#u796,#u800
{
	border-color: #000000;
	background-color: #F7931E;
	position: relative;
}

#u823-4,#u837-4,#u830-4,#u879-4,#u872-4,#u801-4
{
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u799-5
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u799-2
{
	color: #FFFFFF;
}

#u799-3
{
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
}

#u789_align_to_page,#u790,#u792,#menuu804,#u819,#u833,#u839,#u861,#u885,#u891,#u919,#u925,#u1139,#u847,#u849,#u1176,#u1182,#u1186,#u840,#u854,#u912,#u826,#u875,#u868,#u795_align_to_page,#u798-3,#u331
{
	position: relative;
}

