.al{text-align: left;}
.ac{text-align: center;}
.ar{text-align: right;}
.aj{text-align: justify;}
.vt{vertical-align: top;}
.vm{vertical-align: middle;}
.vb{vertical-align: bottom;}
.fl{float: left;}
.fr{float: right;}
.cl{clear: both;}
